body {
  background-color: #f2f3f4;
}
h1 {
  text-align: center;
  
}
.add-todo {
  max-width: 500px;
  margin: 12px auto;
}

.add-todo > #todo {
  width: calc(100% - 120px);
  height: 40px;
  display: inline-block;
  background: #fff;
  color: #000;
  padding: 10px;
  box-sizing: border-box;
  text-transform: none;
  font-size: 14px;
  margin-left: 0;
  cursor: default;
}
.add-todo > input {
    width: 107px;
    height: 40px;
    display: inline-block;
    margin-left: 12px;
    -webkit-appearance: none;
    border: none;
    background: #B1D23A;
    color: #fff;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
}